link(rel="import", href="/static/common/bower/polymer/polymer.html")
link(rel="import", href="/static/common/bower/paper-dropdown-menu/paper-dropdown-menu.html")
// link(rel="import", href="/static/common/bower/paper-menu/paper-menu.html")
link(rel="import", href="/static/common/bower/paper-listbox/paper-listbox.html")
link(rel="import", href="/static/common/bower/paper-item/paper-item.html")
link(rel="import", href="/app-render/framework/crouton-card/crouton-card.pug")


dom-module(id="crouton-simple-dropdown")
  template
    link(rel="stylesheet", href="crouton-simple-dropdown.css")
    crouton-card
      div.dragger
      div.expand
        div.textDisplay {{endPointJson.values.value}}
        div.dropDownDisplay
          paper-dropdown-menu(label="Choices", value="{{selectedOption}}")
            paper-listbox(selected="0", class="dropdown-content").dropdown-content
              template(is="dom-repeat", items="{{_toArray(endPointJson)}}", as="k")
                paper-item {{k}}
                template(is="dom-repeat", items="{{_toArray(k.value)}}" as="values")
                  paper-item {{values}}
                  template(is="dom-repeat", items="{{_toArray(values.value)}}" as="choices")
                    paper-item {{choices}}
          // paper-dropdown-menu(label="Dropdown", noAnimations)
          //   paper-listbox(selected="1", class="dropdown-content")
          //     paper-item Option A
          //     paper-item Option B
          //     paper-item Option C

        div.titleDisplay {{endPointJson.title}}
        div.titleDisplay {{endPoint.Json.values.choices}}


  style(is="custom-style").
    paper-dropdown-menu{
      --paper-input-container-focus-color: grey;
    }

  script.
    (function() {
      Polymer({
        is: "crouton-simple-dropdown",
        properties: {
          endPointJson: {
            type: Object,
            notify: true
          },
          deviceName :{
            type: String
          },
          devicePath:{
            type: String
          },
          endPointName :{
            type: String
          },
          updatedSelectedOption: {
            type: String,
            computed: "newSelectedOption(value)"
          }
        },
        observers: [
          'newValues(endPointJson.values.*)'
        ],
        ready: function() {
          //console.log(endPointJson);
          //console.log(endPointJson.choices);

        },
        newValues: function(changeRecord){
        },
        newSelectedOption: function(value){
          var newValue = {};
          newValue.value = value;
          this.mqtt.publishMessage(this.devicePath+"/control/"+this.deviceName+"/"+this.endPointName,JSON.stringify(newValue));
          //this.mqtt.publishMessage("/inbox/"+this.deviceName+"/"+this.endPointName,JSON.stringify(newValue));
        },
        _toArray: function(obj) {
            return Object.keys(obj).map(function(key) {
                return {
                    name: key,
                    value: obj[key]
                };
            });s
        }
      });
    }());
