link(rel="import", href="/static/common/bower/polymer/polymer.html")
link(rel="import", href="/static/common/bower/paper-button/paper-button.html")


dom-module(id="crouton-schedule-card")
  template
    link(rel="stylesheet", href="crouton-schedule-card.css")
    div.scheduleTitle
      span.scheduleName {{deviceName}}/{{scheduleName}}
    div.scheduleContent.grid.contentMarginFix
      div.grid__col.grid__col--1-of-12
        div.scheduleDetails
          template(is="dom-if", if="{{scheduleJson.action}}")
            div
              span.scheduleTitle Action
              span {{scheduleJson.action}}
      div.grid__col.grid__col--1-of-12
        div.scheduleDetails
          template(is="dom-if", if="{{scheduleJson.value}}")
            div
              span.scheduleTitle Value
              span {{scheduleJson.value}}
      div.grid__col.grid__col--2-of-12
        div.scheduleDetails
          template(is="dom-if", if="{{scheduleJson.schedule}}")
            div
              span.scheduleTitle Plain Language
              span {{stringify(scheduleJson.plain_language)}}
      div.grid__col.grid__col--5-of-12
        div.scheduleDetails
          template(is="dom-if", if="{{scheduleJson.schedule}}")
            div
              span.scheduleTitle Schedule Object
              span {{stringify(scheduleJson.schedule)}}
      div.grid__col.grid__col--2-of-12
        div.scheduleDetails
          template(is="dom-if", if="{{scheduleJson.schedule}}")
            div
              span.scheduleTitle Path
              span {{scheduleJson.path}}

      div.grid__col.grid__col--1-of-12
        div.scheduleButtons
          div.buttons
            paper-button(on-click="removeScheduleCard", class raised).rightBtn Delete



  script.
    (function() {
      Polymer({
        is: "crouton-schedule-card",
        ready: function() {
          this.schedules_card = document.getElementById("crouton-schedule");
          this.mqttCard = document.getElementById("crouton-mqtt");
        },
        properties: {
          scheduleName: {
            type: String
          },
          scheduleJson: {
            type: Object,
            notify: true
          },
          deviceName: {
            type: String
          }
        },
        listeners: {

        },
        removeScheduleCard: function(){
          // publish message / schedule / path / "clear" / deviceName / endPoint, no payload
          this.mqttCard.publishMessage("/schedule"+this.scheduleJson.path+"clear/"+this.deviceName+"/"+this.scheduleName, "clear");
          this.schedules_card.delayRefreshSchedules();
        },
        stringify: function(obj){
          return JSON.stringify(obj);
        }
      });
    }());
