link(rel="import", href="/static/common/bower/polymer/polymer.html")
link(rel="import", href="/static/common/bower/paper-button/paper-button.html")


dom-module(id="crouton-schedule-card")
  template
    link(rel="stylesheet", href="crouton-schedule-card.css")
    div.scheduleTitle
      span.scheduleName {{deviceName}}/{{scheduleName}}
    div.scheduleContent.grid.contentMarginFix
      div.grid__col.grid__col--2-of-12
        div.scheduleDetails
          template(is="dom-if", if="{{scheduleJson.action}}")
            div
              span.scheduleTitle Action:
              span {{scheduleJson.action}}
      div.grid__col.grid__col--2-of-12
        div.scheduleDetails
          template(is="dom-if", if="{{scheduleJson.value}}")
            div
              span.scheduleTitle Value:
              span {{scheduleJson.value}}
      div.grid__col.grid__col--6-of-12
        div.scheduleDetails
          template(is="dom-if", if="{{scheduleJson.schedule}}")
            div
              span.scheduleTitle Schedule:
              span {{stringify(scheduleJson.schedule)}}

      div.grid__col.grid__col--2-of-12
        div.scheduleButtons
          div.buttons
            paper-button(on-click="removeScheduleCard", class raised).rightBtn Delete



  script.
    (function() {
      Polymer({
        is: "crouton-schedule-card",
        ready: function() {
          this.schedules = document.getElementById("crouton-schedule");
        },
        properties: {
          scheduleName: {
            type: String
          },
          connectionStatus: {
            type: String,
            value: "connecting"
          },
          scheduleJson: {
            type: Object,
            notify: true
          },
          deviceName: {
            type: String
          },
          scheduleValues: {
            type: Object,
            notify: true
          }
        },
        listeners: {

        },
        removeScheduleCard: function(){
          // publish message / schedule / path / "clear" / deviceName / endPoint, no payload
            // this function is not in scheduler.js yet

          // call refresh schedules on schedule page
        },
        stringify: function(obj){
          console.log(obj);
          return JSON.stringify(obj);
        }
      });
    }());
